.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.perspectiveBackground {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
}

@media (max-width: 680px) {
  .perspectiveBackground {
    display: none;
  }
}

.maxWidthWrapper {
  isolation: isolate;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

@media (max-width: 680px) {
  .header {
    padding-bottom: 100%;
  }

  .header .textStyle {
    background-color: hsla(195deg, 20%, 100%, 0.9);
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 128px;
  right: 0;
  width: 40%;
  min-height: 500px;
}

@media (max-width: 680px) {
  .characterWrapper {
    width: 100%;
    max-height: 400px;
    z-index: -1;
  }
}

.controlColumn {
  width: 50%;
}

@media (max-width: 680px) {
  .controlColumn {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }
}
